@import url(./font.css);
* {
    font-family: "Nunito Sans", sans-serif ;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.header {
    height: 575px;
    background: linear-gradient(0deg, rgba(255 255 255 / 54%), rgba(255 0 150 / 69%)), url(./Images/background\ image.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}
.header img {
    width: 50px;
    height: 50px;
}
.navigations {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-top: 20px;
    font-weight: 800;
}
.logo__name span{
    color: yellow;
}
.logo__car {
    margin-right: 10px;
}
.navigations a {
font-weight: 600;
    font-size: 1.7rem;
    color: white;
}
.navigations > a {
    display: none;
}
.nav-bar a {
    margin: 0 1rem;
}
.nav-bar a:hover ,nav a:active {
    color: yellowgreen;
}
.nav2 {
    margin-right: 40px;
}
.nav2 a:hover {
    color: yellowgreen;
}
.nav2__about {
    margin-right: 1rem;
}
.navigations__heading {
    position: absolute;
    top: 200px;
    left: 300px;
    font-size: 2.5rem;
    color: black;
}
.menu {
    display: none;
}
p {
    font-size: 2.5rem;
    color: black;
    text-align: center;
    margin-top: 60px;
}
.sec-one {
    margin:5% 7%;
}
.sec-one__paragraphs {
    margin-bottom: 40px;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0 20px;
}
.container {
    margin:7% 6%;
    display: flex;
    justify-content: space-between;
}
h2 {
    font-size: 1.5rem;
    margin-top: 40px;
    padding: 0 20px;   
}
.table-container {
    width: 100%;
}
.table {
    border-collapse: collapse;
    margin: 0 8%;
    font-weight: 0.9em;
    width: 90%;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    overflow: hidden;
}
.table thead tr {
    background-color: #009879;
    color : #ffffff;
    text-align: left;
    font-weight: 800;
}
.table th, .table td {
    padding: 2% 3%;
}
.table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.table tbody tr:last-of-type {
    border-bottom: 3px solid #009879;
}

tbody img {
    width: 30px;
    height: 30px;
}
.image-container {
    width: 100%;
}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit:fill;
    object-position: center;
}
.persons {
    margin:4% 18%;
    display: flex;
    justify-content: space-between; 
}
.title {
   margin-bottom: 3%;
   margin-left: 20%;
}
.audio {
    margin-right: 10%;
}

.person-container__image {
    margin-left: 20%;
    margin-top: 10%;
    width: 70%;
    height: 30%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.person-container {
    display: flex;
    flex-direction: column;
   
}
.person-container__name {
    font-size: 1.2rem;
    font-weight: 800;
}
.person-container__job{
    font-size: 1rem;
    font-weight: 600;
}
.audio-description {
    background-color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    width: 100%;
    height: 200px;
}
.footer p {
    font-size: 200%;
    color: white;
    text-align: center;
    margin-top: 40%;
}
.footer-top img {
    width: 30px;
    height: 30px;
}
.footer-top .logo {
    display: flex;
    justify-content: space-between;
    margin-left: 8%;
    margin-top: 8%;
    font-weight: 800;
    font-size: 200%;
}
.logo__name span{
    color: yellow;
}
.footer-top .logo__car {
    margin-right: 10px;
    width: 65px;
    height: 65px;
}
.footer-top {
    background-color: hsl(209, 23%, 22%);
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.footer-top a {
    color: white;
}
.footer-top a:hover {
    color: yellowgreen;
}
.quick-links {
    text-align: center;
    margin-right: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.quick-links__about, .quick-links__contact,
 .quick-links__register, .facebook {
    margin-bottom: 10px;
}

.copy-right {
    background-color: hsl(207, 26%, 17%);
    text-align: center;
    color: white;
    padding: 10px;
}


@media (max-width: 1000px){
    .header img {
        width: 35px;
        height: 35px;
    }
    .logo {
       margin-left: 2%;
    }
    
    .menu {
        display: initial;
        cursor: pointer;
        margin-left: 4%;
    }
    .navigations > a {
        display: block;
        margin-right: 4%;
    }
    .nav2 {
        display: none;
    } 
    .nav-bar{
        position: absolute;
        top: 12%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        text-align: center;
        box-shadow: 4px 4px 20px rgb(15 54 55 / 20%);
        clip-path: circle(0% at 0% 0%);
    }
    .nav-bar a {
        display: block;

    }
    .nav-bar a:hover,nav a:active {
        color: yellowgreen;
    }
    .active {
        clip-path: circle(144% at 0% 0%);
    }
    .navigations__heading {
        position: absolute;
        top: 42%;
        left: 15%;
        font-size: 2.5rem;
        color: black;
    }
    .footer p, .footer-top .logo  {
        font-size: 80%;
    }
    .quick-links a ,  .follow-us a{
        font-size: 60%;
    }
    .quick-links__about, 
    .quick-links__contact, 
    .quick-links__register, 
    .facebook {
        margin-bottom: 5px;
    }
    .footer-top .logo__car {
        margin-right: 6%;
        width: 28px;
        height: 28px;
    }
    .footer-top img {
        width: 15px;
        height: 15px;
    }    

    .sec-one__paragraphs {
        font-size: 88%;
    }
    .title {
        font-size: 120%;
        margin-bottom: 14%;
    }
    .audio {
        width: 60%; 
    }
    .container {
        display: flex;
        flex-direction: column;
    } 
    .image-container {
        width: 92%;
        margin-left: 7%;
        margin-top: 5%;  
    } 
    .person-container__name {
        font-size: 70%;
    } 
    .person-container__job {
        font-size: 60%;
    } 
}

@media (max-width: 400px) {
    .sec-one {
        margin: 0% 4%;
    }
    .sec-one__paragraphs {
        font-size: 55%;
    }
    .title {
        font-size: 120%;
        margin-bottom: 14%;
    }
    .audio {
        width: 60%; 
    }
    .container {
        display: flex;
        flex-direction: column;
        margin: 1% 2%;
    } 
    .image-container {
        width: 92%;
        margin-left: 7%;
        margin-top: 5%;  
    }
    .person-container__name {
        font-size: 50%;
    }
    .persons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
      
}