@font-face {
    font-family: 'Nunito Sans';
    /* font-style: normal; */
    font-weight: 300;
    font-display: swap;
    src: url("./font/NunitoSans-Light.ttf");
  } 

  @font-face {
    font-family: 'Nunito Sans';
    /* font-style: normal; */
    font-weight: 600;
    font-display: swap;
    src: url("./font/NunitoSans-Regular.ttf");
  } 
  
  
 @font-face {
    font-family: 'Nunito Sans';
    /* font-style: normal; */
    font-weight: 800;
    font-display: swap;
    src: url("font/NunitoSans-Bold.ttf");
  }
  