@import url(./font.css);
* {
    font-family: "Nunito Sans", sans-serif ;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.header {
    height: 575px;
    background: linear-gradient(0deg, rgba(255 255 255 / 54%), rgba(255 0 150 / 69%)), url(./Images/background\ image.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}
.header img {
    width: 50px;
    height: 50px;
}
.navigations {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-top: 20px;
    font-weight: 800;
}
.logo__name span{
    color: yellow;
}
.logo__car {
    margin-right: 10px;
}
.navigations a {
    font-weight: 600;
    font-size: 1.7rem;
    color: white;
}
.navigations > a {
    display: none;
}
.nav-bar a {
    margin: 0 1rem;
}
.nav-bar a:hover ,nav a:active {
    color: yellowgreen;
}
.nav2 {
    margin-right: 40px;
}
.nav2 a:hover {
    color: yellowgreen;
}
.nav2__about {
    margin-right: 1rem;
}
.navigations__heading {
    position: absolute;
    top: 200px;
    left: 300px;
    font-size: 2.5rem;
    color: black;
}
.menu {
    display: none;
}
p {
    font-size: 2.5rem;
    color: black;
    text-align: center;
    margin-top: 60px;
}
.register-container {
    margin:5% 3%;
    height: 700px;
    background-color: whitesmoke;
}
.register-form {
    margin-top: 3%;
}
.form-container {
    margin: 6% 1%;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first-form__name-label,.first-form__email-label,
.first-form__contact-label,.first-form__user-type-label,
.first-form__password-label{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}
.name,.email,.contact,.password,.dropdown {
    width: 400px;
    height: 60px;
    background-color: white;
    border: none;
    padding: 4%;
}
.second-form {
    margin-bottom: 10%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; 
}

.first-form {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.register-button {
    width: 10%;;
    height: 50px;
    border-radius: 4px;
    margin: 0% 45% ;
    text-align: center;
    font-size: 0.8rem;
    background-color: rgb(223, 227, 228);
    cursor: pointer;
    border: none;
}
.register-button:hover {
    background-color: white;
}


.footer {
    width: 100%;
    height: 200px;
}
.footer p {
    font-size: 200%;
    color: white;
    text-align: center;
    margin-top: 40%;
}
.footer-top img {
    width: 30px;
    height: 30px;
}
.footer-top .logo {
    display: flex;
    justify-content: space-between;
    margin-left: 8%;
    margin-top: 8%;
    font-weight: 800;
    font-size: 200%;
}
.logo__name span{
    color: yellow;
}
.footer-top .logo__car {
    margin-right: 10px;
    width: 65px;
    height: 65px;
}
.footer-top {
    background-color: hsl(209, 23%, 22%);
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.footer-top a {
    color: white;
}
.footer-top a:hover {
    color: yellowgreen;
}
.quick-links {
    text-align: center;
    margin-right: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.quick-links__about, .quick-links__contact,
 .quick-links__register, .facebook {
    margin-bottom: 10px;
}

.copy-right {
    background-color: hsl(207, 26%, 17%);
    text-align: center;
    color: white;
    padding: 10px;
}


@media (max-width: 1000px){
    .header img {
        width: 35px;
        height: 35px;
    }
    .logo {
       margin-left: 2%;
    }
    
    .menu {
        display: initial;
        cursor: pointer;
        margin-left: 4%;
    }
    .navigations > a {
        display: block;
        margin-right: 4%;
    }
    .nav2 {
        display: none;
    } 
    .nav-bar{
        position: absolute;
        top: 12%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        text-align: center;
        box-shadow: 4px 4px 20px rgb(15 54 55 / 20%);
        clip-path: circle(0% at 0% 0%);
    }
    .nav-bar a {
        display: block;

    }
    .nav-bar a:hover,nav a:active {
        color: yellowgreen;
    }
    .active {
        clip-path: circle(144% at 0% 0%);
    }
    .navigations__heading {
        position: absolute;
        top: 42%;
        left: 15%;
        font-size: 2.5rem;
        color: black;
    }
    .footer p, .footer-top .logo  {
        font-size: 80%;
    }
    .quick-links a ,  .follow-us a{
        font-size: 60%;
    }
    .quick-links__about, 
    .quick-links__contact, 
    .quick-links__register, 
    .facebook {
        margin-bottom: 5px;
    }
    .footer-top .logo__car {
        margin-right: 6%;
        width: 28px;
        height: 28px;
    }
    .footer-top img {
        width: 15px;
        height: 15px;
    }    
}

@media (max-width: 400px){
    .form-container {
        display: flex;
        flex-direction: column;
        height: 500px;
    }
    .register-button {
        width: 20%;
        margin: 1% 40%;
    }
    .register-container {
        margin:5% 3%;
        height: 700px;
    }
    .name,.email,.contact,.password,.dropdown {
        width: 250px;
    }
    .second-form {
        margin-bottom: 45%;
    }
}

@media (max-width: 600px){
    .form-container {
        display: flex;
        flex-direction: column;
        height: 600px;
    }
    .register-button {
        width: 20%;
        margin: 1% 40%;
    }
    .register-container {
        margin:5% 3%;
    }
}

@media (min-width: 600px)and (max-width: 1000px){
    .form-container {
        display: flex;
        flex-direction: column;
        height: 680px;
        margin: 7% 5%;
    }
    .register-container {
        margin:5% 3%;
        height: 820px;
    }
    .second-form {
        margin-bottom: 50%;
    }
}


