@import url(./font.css);
* {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.header {
    /*width: 100%;*/
    height: 575px;
    /* height: 100vh; */
    background: linear-gradient(0deg, rgba(255 255 255 / 54%), rgba(255 0 150 / 69%)), url(./Images/background\ image.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}
.header img {
    width: 50px;
    height: 50px;
}
.navigations {
    /*width: 100%;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-top: 20px;
    font-weight: 800;
}
.logo__name span{
    color: yellow;
}
.logo__car {
    margin-right: 10px;
}
.navigations a {
font-weight: 600;
    font-size: 1.7rem;
    color: white;
}
.navigations > a {
    display: none;
}
.nav-bar a {
    margin: 0 1rem;
}
.nav-bar a:hover ,nav a:active {
    color: yellowgreen;
}
.nav2 {
    margin-right: 40px;
}
.nav2 a:hover {
    color: yellowgreen;
}
.nav2__about {
    margin-right: 1rem;
}
.navigations__heading {
    position: absolute;
    top: 200px;
    left: 300px;
    font-size: 2.5rem;
    color: black;
}
.menu {
    display: none;
}
/* .profile-register {
    display: none;
} */
p {
    /*font-size: 2.5rem;*/
    font-size: 200%;
    color: white;
    text-align: center;
    margin-top: 40%;
}
.search {
    margin: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#search {
    /* margin-left: 3%; */
  /* margin: 0 0 3% 3% ; */
    width: 450px;
    /* width: max(40%, 200px); */
    height: 50px;
    padding-left: 40px;
    font-size: 15px;
    background-image: url(./Images/search-outline.svg);
    background-position: 10px;
    background-size: 20px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 4px;
    background-color: rgb(231, 229, 229);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.search-btn {
    margin-right: 30%;
    margin-bottom: 3%;
    width: 400px;
    /* width: max(10%, 100px); */
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: whitesmoke;
    font-weight: 600;
    cursor: pointer; 
}
.search-btn:hover {
    background-color: white;
}
label {
    font-size: 1.5rem;
}

.rent-cars {
    /*margin:100px 100px 0 250px;*/
    display: grid;
    column-gap: 10px;
    row-gap: 50px;
}
.second {
    display: none;
}
.product__loading-more{
    width: 35%;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 10% 25%;
    text-align: center;
    font-size: 0.8rem;
    background-color: rgb(240, 248, 231);
    cursor: pointer;
}
.product{
    /* width: 270px;
    height: 350px;*/
    width: 80%;
    height: 350px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.product__images {
    width: 100%;
    height: 175px;  
}
.product__name {
    text-align: center;
    color: black;
    font-size: 17px;
    font-weight: 800;
    margin-left: 14px;
}
.product span {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
}
.product__description {
    margin: 3px 10px;
  /*font-size: 13px;*/
    font-size: 75%;
    font-weight: 300;
    color: black;
}
.button-container {
    margin: 6% 43%;
    display: flex;
    justify-content: space-between;
}
.back-forward {
    /* width: 65px; */
    width: 15%;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    background-color: lightgrey;
    cursor: pointer;
}
.num-btn {
    border: none;
    border-radius: 5px;
    background-color: lightgrey;
    margin-top: 10px;
    /* width: 45px; */
    width: 7%;
    height: 25px;
    cursor: pointer;
}
.back-forward:hover {
    background-color: whitesmoke;
}
.num-btn:hover {
    background-color: white;
}

.footer {
    width: 100%;
    height: 200px;
}
.footer p {
    /*font-size: 2.5rem;*/
    font-size: 200%;
    color: white;
    text-align: center;
    margin-top: 40%;
}
.footer-top img {
    width: 30px;
    height: 30px;
}
.footer-top .logo {
    display: flex;
    justify-content: space-between;
    margin-left: 8%;
    margin-top: 8%;
    font-weight: 800;
    /*font-size: 2.5rem;*/
    font-size: 200%;
}
.logo__name span{
    color: yellow;
}
.footer-top .logo__car {
    margin-right: 10px;
    width: 65px;
    height: 65px;
}
.footer-top {
    background-color: hsl(209, 23%, 22%);
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.footer-top a {
    color: white;
}
.footer-top a:hover {
    color: yellowgreen;
}
.quick-links {
    text-align: center;
    margin-right: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.quick-links__about, .quick-links__contact,
 .quick-links__register, .facebook {
    margin-bottom: 10px;
}

.copy-right {
    background-color: hsl(207, 26%, 17%);
    text-align: center;
    color: white;
    padding: 10px;
}

@media (max-width: 600px) {
    .rent-cars {
      margin: 4% 3% 0 15%;
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
    label {
      font-size: 1rem;
      margin-top: 5%;
      margin-left: 5%;
      display: flex;
      flex-direction: column;
    }
    .search {
      margin: 2% 4%;
      flex-direction: column;
    }
    #search {
      width: 250px;
    }
    .search-btn {
      width: 120px;
      margin-left: 20%;
      margin-top: 5%;
    }
    .product__loading-more {
      width: 50%;
    }
    .button-container {
      margin: 6% 30%;
    }
    .back-forward {
      width: 20%;
    }
    .num-btn {
      width: 15%;
    }
}
  
@media (min-width: 600px) {
    .rent-cars {
        margin: 8% 5% 0 10%;
        grid-template-columns: 1fr 1fr;
    }
    .search-btn {
        width: 200px;
        margin-top: 5%;
        margin-left: 5%;
        
    }
  
    
}
/* @media (min-width: 780px){
.search {
    margin: 2% 2%;
    flex-direction: column;
}
#search {
    width: 200px;
}
label {
    font-size: 1rem;
    margin-left: 5%;
}
} */
  
@media (max-width: 1000px) {
    .header img {
        width: 35px;
        height: 35px;
    }
    .logo {
       margin-left: 2%;
    }
    
    .menu {
        display: initial;
        cursor: pointer;
        margin-left: 4%;
    }
    .navigations > a {
        display: block;
        margin-right: 4%;
    }
    .nav2 {
        display: none;
    } 
    .nav-bar{
        position: absolute;
        top: 12%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        text-align: center;
        box-shadow: 4px 4px 20px rgb(15 54 55 / 20%);
        clip-path: circle(0% at 0% 0%);
    }
    .nav-bar a {
        display: block;

    }
    .nav-bar a:hover,nav a:active {
        color: yellowgreen;
    }
    .active {
        clip-path: circle(144% at 0% 0%);
    }
    .navigations__heading {
        position: absolute;
        top: 42%;
        left: 15%;
        font-size: 2.5rem;
        color: black;
    }
    .footer p, .footer-top .logo  {
        font-size: 80%;
    }
    .quick-links a ,  .follow-us a{
        font-size: 60%;
    }
    .quick-links__about, 
    .quick-links__contact, 
    .quick-links__register, 
    .facebook {
        margin-bottom: 5px;
    }
    .footer-top .logo__car {
        margin-right: 6%;
        width: 28px;
        height: 28px;
    }
    .footer-top img {
        width: 15px;
        height: 15px;
    }    
}

@media (min-width: 1000px) {
.rent-cars {
    margin: 8% 8% 0 15%;
    grid-template-columns: 1fr 1fr 1fr;
}
}

  
  
